# ==========================================
# ====== PostgreSQL
# ==========================================
POSTGRES_SAMPLER_URL="postgresql://sampler:<sampler_password>@localhost:5432/forger"
POSTGRES_RUNNER_URL="postgresql://runner:<runnner_password>@localhost:5432/forger"
