# ==========================================
# ====== Fundamental
# ==========================================
POSTGRES_DB=forger
POSTGRES_TEST=testing

POSTGRES_USER=forger
POSTGRES_PASSWORD=forger

# ==========================================
# ====== Identity
# ==========================================
POSTGRES_RUNNER_USER=runner
POSTGRES_RUNNER_PASSWORD=runner

POSTGRES_SAMPLER_USER=sampler
POSTGRES_SAMPLER_PASSWORD=sampler

POSTGRES_REPLICATOR_USER=replicator
POSTGRES_REPLICATOR_PASSWORD=replicator