# ==========================================
# ====== Fundamental
# ==========================================
POSTGRES_DB=forger
POSTGRES_TEST=testing

POSTGRES_USER=forger
POSTGRES_PASSWORD=forger

# ==========================================
# ====== Identity
# ==========================================
RUNNER_USER=runner
RUNNER_PASSWORD=runner

SAMPLER_USER=sampler
SAMPLER_PASSWORD=sampler